.jumbotron{
	background-color: aquamarine;
	color: black;
}
.footer{
	padding: 10px 10px 0px 10px;
	background-color: aquamarine;
	margin-bottom: 0px;
	margin-top: 30px;
}
.btn{
	background-color: cornflowerblue;
	color: black;
	width: 100%;
}
.col-md{
	margin-top: 30px;
}

.card-hotel{
	flex: 1 250px;
	padding: 10px 10px 10px 10px;
}
